    
    <div id="kcontainer" >
          <button type="button" id="p">Hide Keyboard</button><button type="button" id="p2">Show Keyboard</button><br>
          <textarea value="" id="field2" style= "background-color:#000000; color:#00F900">
          </textarea>

      <div class="keyboard_row">
        <div class="key" type="button" onclick="myFunction('~')">
          ~
        </div>
        <div class="key" type="button" onclick="myFunction('!')">
          !
        </div>
        <div class="key" type="button" onclick="myFunction('@')">
          @
        </div>
        <div class="key" type="button" onclick="myFunction('#')">
          #
        </div>
        <div class="key" type="button" onclick="myFunction('$')">
          $
        </div>
        <div class="key" type="button" onclick="myFunction('%')">
          %
        </div>
        <div class="key" type="button" onclick="myFunction('^')">
          ^
        </div>
        <div class="key" type="button" onclick="myFunction('&')">
          &
        </div>
        <div class="key" type="button" onclick="myFunction('*')">
          *
        </div>
        <div class="key" type="button" onclick="myFunction('(')">
          (
        </div>
        <div class="key" type="button" onclick="myFunction(')')">
          )
        </div>
        <div class="key" type="button" onclick="myFunction('_')">
          _
        </div>
        <div class="key" type="button" onclick="myFunction('+')">
          +
        </div>
        <div class="key key-wide" type="button" onclick="myFunction('Bksp')">
          Bksp
        </div>
      </div>
      <div class="keyboard_row">
        <div class="key key-wide" type="button" onclick="myFunction('Tab')">
          ->| Tab
        </div>
        <div class="key" type="button" onclick="myFunction('Q')">
          Q
        </div>
        <div class="key" type="button" onclick="myFunction('W')">
          W
        </div>
        <div class="key" type="button" onclick="myFunction('E')">
          E
        </div>
        <div class="key" type="button" onclick="myFunction('R')">
          R
        </div>
        <div class="key" type="button" onclick="myFunction('T')">
          T
        </div>
        <div class="key" type="button" onclick="myFunction('Y')">
          Y
        </div>
        <div class="key" type="button" onclick="myFunction('U')">
          U
        </div>
        <div class="key" type="button" onclick="myFunction('I')">
          I
        </div>
        <div class="key" type="button" onclick="myFunction('O')">
          O
        </div>
        <div class="key" type="button" onclick="myFunction('P')">
          P
        </div>
        <div class="key" type="button" onclick="myFunction('}')">
          {
        </div>
        <div class="key" type="button" onclick="myFunction('{')">
          }
        </div>
        <div class="key" type="button" onclick="myFunction('|')">
          |
        </div>
      </div>
      <div class="keyboard_row">
        <div class="key" type="button" onclick="myFunction('A')">
          A
        </div>
        <div class="key" type="button" onclick="myFunction('S')">
          S
        </div>
        <div class="key" type="button" onclick="myFunction('D')">
          D
        </div>
        <div class="key" type="button" onclick="myFunction('F')">
          F
        </div>
        <div class="key" type="button" onclick="myFunction('G')">
          G
        </div>
        <div class="key" type="button" onclick="myFunction('H')">
          H
        </div>
        <div class="key" type="button" onclick="myFunction('J')">
          J
        </div>
        <div class="key" type="button" onclick="myFunction('K')">
          K
        </div>
        <div class="key" type="button" onclick="myFunction('L')">
          L
        </div>
        <div class="key" type="button" onclick="myFunction(';')">
          ;
        </div>
        <div class="key" type="button" onclick="myFunction('comillas')"
          >
          "
        </div>
        <div class="key key-special key-wide">
          Enter
        </div>
      </div>
      <div class="keyboard_row">
        <div class="key key-special key-wide">
          Shift
        </div>
        <div class="key" type="button" onclick="myFunction('Z')">
          Z
        </div>
        <div class="key" type="button" onclick="myFunction('X')">
          X
        </div>
        <div class="key" type="button" onclick="myFunction('C')">
          C
        </div>
        <div class="key" type="button" onclick="myFunction('V')">
          V
        </div>
        <div class="key" type="button" onclick="myFunction('B')">
          B
        </div>
        <div class="key" type="button" onclick="myFunction('N')">
          N
        </div>
        <div class="key" type="button" onclick="myFunction('M')">
          M
        </div>
        <div class="key" type="button" onclick="myFunction('<')">
          <
        </div>
        <div class="key" type="button" onclick="myFunction('>')">
          >
        </div>
        <div class="key" type="button" onclick="myFunction('?')">
          ?
        </div>
        <div class="key key-special key-wide" type="button" onclick="myFunction('Shift')">
          Shift
        </div>
      </div>
      <div class="keyboard_row">
        <div class="key key-special" type="button" onclick="myFunction('Accept')">
          Accept
        </div>
        <div class="key key-space" type="button" onclick="myFunction(' ')">
        </div>
        <div class="key key-special key-wide" type="button" onclick="myFunction('Cancel')">
          Cancel
        </div>
      </div>
    </div>